
<%-include('../../inc/site-head')%> 

<%-include('../../inc/site-navbar-student')%> 


<section class="hero">
    <div class="container">
        <div style="margin-left: 25%;">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScg4GWm0pWjQlw8W68dnuojRpmJPYcmwqBc0EfRHvmtQu-AYg/viewform?embedded=true" 
            width="640" height="6747" 
            frameborder="0" marginheight="0" 
            marginwidth="0">Yükleniyor…</iframe>
        </div>
    </div>
</section>






<%-include('../../inc/site-footer')%> 