<nav class="navbar navbar-dark  navbar-expand" style="background-color: #D95F69;">
    <div class="container" id="navbarText">
        <a href="/ogretmen" class="navbar-brand">PANEL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/ogretmen/dersicerikleri">Dersler</a>
              </li><li class="nav-item">
                <a class="nav-link " aria-current="page" href="/ogretmen/test">Testler</a>
              </li>
             
                
            </ul>
            <ul class="navbar-nav ms-auto">
                <span class="navbar-text px-3">
                    <b>ÖĞRETMEN ADI</b>
                </span>
                <li>
                    <button class="btn btn-danger">ÇIKIŞ</button>
                </li>
            </ul>
        </div>
    </div>
</nav>