<%-include('./inc/site-head')%> 

<section>
    <form action="" method="post">
        <input type="text" name="academyLoginID" placeholder="ID" required>
        <input type="password" name="academyPassword" placeholder="Şİfre" required>
        <input type="submit" value="Giriş Yap">
    </form>
</section>


<%-include('./inc/site-footer.ejs')%> 