<%-include('./inc/site-head')%> 

<%-include('./inc/site-navbar.ejs')%> 

<h1>Admin Paneli</h1>
<a href="/admin/academyregister">Akademi Kayıt</a>
<br>
<a href="/admin/logout">Çıkış Yap</a>


<%-include('./inc/site-footer')%> 
