<%- include('./inc/site-head.ejs') %> 
<%- include('./inc/site-navbar-teacher.ejs') %> 

<section>
    <form action="" method="post">
        <input type="text" name="order" placeholder="order">
        <input type="text" name="paragraph" placeholder="paragraph">
        <input type="text" name="song" placeholder="song url">
        <input type="submit" value="Ekle">
    </form>
</section>



<%- include('./inc/site-footer.ejs') %> 