<%-include('./inc/site-head-draganddroplist')%> 

<h1>Ders Başlığı</h1>
<p>Ders açıklaması Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quaerat est, distinctio quas sunt tenetur ipsum hic fugit quisquam consequatur incidunt adipisci vel vitae cumque soluta assumenda ex recusandae quod!</p>

<ul class="draggable-list" id="draggable-list"></ul>
<button class="check-btn" id="check">
    Kontrol Et
    <i class="fas fa-paper-plane"></i>
</button>




<script src="/js/draganddroplist.js"></script>

<%-include('./inc/site-footer')%> 