<%- include('./inc/site-head.ejs') %> 
<%- include('./inc/site-navbar-teacher.ejs') %> 

<section>
    <form action="" method="post">
        <input type="text" name="lessonTitle" placeholder="Başlık" required>
        <input type="text" name="lessonDescription" placeholder="Ders açıklaması" required>
        <input type="text" name="lessonSubject" placeholder="Ders konusu" required>
        <input type="submit" value="Kaydet">
    </form>
</section>



<%- include('./inc/site-footer.ejs') %> 