<%-include('./inc/site-head')%> 

<%-include('./inc/site-navbar')%> 


<section class="hero">
    <div class="conteiner">
        <div class="row    ">
            <div class="col-5 d-grid ">
                <button class="btn btn-success temp-btn btn-success-outline"href="">Yeni Ders İçeriği</button>
            </div>
            <div class="col d-grid ">
                <button class="btn btn-primary btn-primary-outline temp-btn" onclick="window.location.href='/ogretmen/dersicerikleri'">Ders İçerikleri</button>
            </div>
            <div class="col d-grid ">
                <button class="btn btn-primary btn-primary-outline temp-btn" onclick="window.location.href='/ogretmen/dersnotlari'">Ders Notları</button>
            </div>
        </div>
        <div class="row  ">
            <div class="col-5 d-grid">
                <button class="btn btn-success btn-success-outline temp-btn"  href="">Yeni Test İçeriği</button>
            </div>
            <div class="col d-grid">
                <button class="btn btn-primary btn-primary-outline temp-btn" onclick="window.location.href='/ogretmen/test'">Test İçerikleri</button>
            </div>
            <div class="col d-grid">
                <button class="btn btn-primary btn-primary-outline temp-btn" onclick="window.location.href='/ogretmen/arsiv'">Arşiv Notları</button>
            </div>
        </div>
    </div>
</section>

<script>

    
</script>

<%-include('./inc/site-footer')%> 
