<%-include('../inc/site-head')%> 

<%-include('../inc/site-navbar-teacher')%> 

<section class="hero">
    <div class="conteiner">
       <div class="row">
           <div class="col">
               <div class="card arsiv-card">
                   <div class="card-header">
                       Başlık
                   </div>
                   <div class="card-body">
                       Açıklama
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat asperiores aspernatur, quibusdam ex eius similique, cum nihil, facere adipisci quae id perspiciatis atque totam vero repellat nesciunt! Ipsum, eum dicta!
                   </div>
                   <div class="card-footer text-end">
                        <button class="btn btn-success">
                            Geri Yükle
                        </button>
                        <button class="btn btn-danger">
                            Sil
                        </button>
                   </div>
               </div>
           </div>
           <div class="col">
            <div class="card arsiv-card">
                <div class="card-header">
                    Başlık
                </div>
                <div class="card-body">
                    Açıklama
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat asperiores aspernatur, quibusdam ex eius similique, cum nihil, facere adipisci quae id perspiciatis atque totam vero repellat nesciunt! Ipsum, eum dicta!
                </div>
                <div class="card-footer text-end">
                     <button class="btn btn-success">
                         Geri Yükle
                     </button>
                     <button class="btn btn-danger">
                         Sil
                     </button>
                </div>
            </div>
        </div>
       </div>
    </div>
</section>

<%-include('../inc/site-footer')%> 
