<%-include('../inc/site-head')%> 

<%-include('../inc/site-navbar-teacher')%> 

<div class="videoForm">
    <h1>Yeni Video</h1>
    <form action="" method="post">
        <div class="form-group">
            <label for="lessonTitle">Başlık</label>
            <input type="text" name="lessonTitle" id="lessonTitle" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="lessonDescription">Video Açıklaması</label>
            <textarea type="text" name="lessonDescription" id="lessonDescription" class="form-control" required cols="3" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="lessonVideoURL">Video URL</label>
            <input type="text" name="lessonVideoURL" placeholder="https://www.youtube.com/watch?v=" id="lessonVideoURL" class="form-control" required>
            <p class="form-control"><small class="text-muted">Sadece video sonundaki sayıları giriniz.</small></p>
        </div>
        <button class="btn btn-success" type="submit">Video Dersi Kaydet</button>
    </form>
</div>

<script>

</script>


<%-include('../inc/site-footer')%> 